*{
    padding: 0;
    margin: 0;
}

body{
        font-family: "Poppins", sans-serif;  
}

/* Navigation bar style */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: #1D2C2D;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-links{
    display: flex;
    column-gap: 15px;
}
.nav-links a{
    color:  black;
    text-decoration: none;
}
.nav-items:hover{
    text-decoration: underline;

}
/* Menubar style */
.menu-bar{
    display: none;
    
}
.menu-nav-link{
    height: 100%;
    width:50%;
    background-color: #1D2C2D;
    position: fixed;
    top: 0;
    left: -80%;
    padding: 25px;
    transition: 0.5s;
}
#menu-button{
    background-color: transparent;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 18px;
    top: 10px;
    border: none;
    
}

.menu-items{
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu-nav-link a{
    color: white;
    text-decoration: none;
}
.menu-nav-link a:hover{
    color:gray;
}

    
/* Body content style */
.product-ad-body{
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}
.product-ad{
    padding: 8px;
    margin-right: 35px;
}
.product-ad button{
    background-color: #1D2C2D;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.product-ad button:hover{
    color: gray;
}

/* customer experience style */
.cus-experience1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
}
.cus-experi-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}  
.cus-experi-content1{
    border-radius: 5px;
    background-color: #F2F4F7;
    padding: 10px;
    flex-basis: 31%;
}

.shopbtn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    left: 50px;
    top: 120px;
    font-size: 16px;
    color: #36454F;
    cursor: pointer;
}
.shopbtn i{
    margin-top: 10px;
    display: inline;
}

/* product section style */
.product-container{
    margin-top: 25px;
    margin-left: 10px;
    padding: 10px;
}
.product-container1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
}
.pcontainer1{
    
    position:relative;
   
}
.product-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shopbtn:hover{
    color: lightgray;
}

/* subscribe section style */
.subscribe-container{
    text-align: center;
    padding: 15px;
}
.sub-container{
    padding: 15px;
}
.subc-ontainer input{
    padding: 9px;
    width:80%;
    margin-top: 8px;
    border: 2px solid #1D2C2D;
}
.sub-container button{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    border-radius: 8px;
    background-color:  #1D2C2D;
    color: white;
    cursor: pointer;
}

.sub-container button:hover{
    color: gray;
}

/* footer section style */
.footer-container{
    background-color: #1D2C2D;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 11px;
}

/* search container */
.search-container{
    padding: 18px;
    margin: auto;
}
.search-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 10px;
    margin: auto;
    border: 2px solid;
    border-radius: 24px;
}
.search-container2 #input1{
    font-size: 16px;
    width:100%;
    background-color: transparent;
    border: none;
}
.search-container2 #input1:focus{
    outline:none;
    width: 100%;
    background-color:transparent;
}
/* collection product style */
.collection-container{
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.collection-product{
    text-align: center;
    flex-basis: 20%;
    
}

/* contactus page style */
#contact-container{
   width: 75%;
   margin: 20px 0px 20px 12.5%;
   background-color: #1D2C2D; 
   
   display: flex;
   flex-wrap: wrap;
   
}
#contact-container form{
    color: white;
    padding: 5.5%;
}
/* #contact-container form label{
    margin-top: 10px;
    margin-bottom: 10px;
} */
#contact-container form input{
    width: 63vw;
    padding: 15px;
    border-radius: 5px;
    margin: 12px 0px 18px 0px;
}
#contact-container form textarea{
    width: 60vw;
    padding: 44px;
    border-radius: 5px;
    margin: 12px 0px 18px 0px;
}
#contact-container form button{
    padding: 10px 18px 10px 18px;
    background-color: rgb(234, 255, 0);
    margin-bottom: 16px;
    color:#1D2C2D;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
/* media query for screen-width 640px */
@media screen and (max-width:640px){
    .menu-bar{
        display: block;
        cursor: pointer;

    }
    .nav-links{
        display: none;
    }
    .product-ad{
        margin: 0 0 0 10.5%;
    }
    .product-ad h1{
        font-size: 1.8rem;
    }
    /* .product-ad p{
        text-indent: 20px;
    }
    .product-ad button{

    } */
    .product-ad-body #body1-img{
        display: none;
    }
    
    .cus-experience1 p{
        display: none;
    }
    .cus-experi-content{
        display: flex;
        flex-direction: column;
    }
    .cus-experi-content1{
        margin: 7px;
    }
    #contact-container{
        margin-top: 20px;
        border: none;
        border-radius: 7px;
    }
    #contact-container form{
        margin-left: 5px;
    }
    #contact-container form h1{
        font-size: 27px;
    }
    #contact-container form input{
        width: 54vw;
        margin-left: 0px;
    }
    #contact-container form textarea{
        width: 85.8%;
        padding: 20px;
    }
}
